@import 'src/styles/responsive';

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-light-02);
  padding: 5px 32px 5px 32px;
  @include adaptive-value('min-height', 64, 40, 0);
  z-index: 100;
  position: sticky;
  top: 0;

  &Logo {
    @include adaptive-value('width', 80, 50, 0);
  }

  &LogoBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &Default {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &Content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
  }

  &Sticky {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
  }

  &CartIcon {
    @include adaptive-value('width', 16, 14, 0);
  }

  &Search {
    width: 350px;
    @include device(smallOnly) {
      width: 200px;
    }

    @include device(extraSmall) {
      display: none;
    }
  }

  &SearchIcon {
    @include adaptive-value(width, 20, 15, 0);
  }

  &Btn {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    @include adaptive-value('padding-top', 15, 10, 0);
    @include adaptive-value('padding-bottom', 15, 10, 0);
    @include adaptive-value('padding-left', 23, 15, 0);
    @include adaptive-value('padding-right', 23, 15, 0);
    @include adaptive-value('border-radius', 30, 10, 0);
    background-color: var(--color-primary-100);
    font-style: normal;
    font-weight: 700;
    @include adaptive-value('font-size', 16, 14, 0);
    line-height: 120%;
    color: var(--color-white);
    column-gap: 5px;
  }
}
