@import 'src/styles/responsive';

.parent {
  max-width: 1920px;
  padding: 0 40px 0 40px;
  margin: 0 auto;

  &Categories {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &Manager {
    display: flex;
    column-gap: 20px;
  }

  &CategoriesContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 0 0;
    column-gap: 100px;
    row-gap: 20px;
  }
}
