@import 'src/styles/responsive';

.parent {
  width: 100%;
  display: grid;
  grid-template-columns: 1.75fr 0.5fr 0.5fr 0.25fr;
  @include adaptive-value('padding-top', 30, 20, 0);
  @include adaptive-value('padding-bottom', 30, 20, 0);
  border-top: 1px solid var(--color-dark-02);

  &Info {
    width: 95%;
    flex-direction: column;
    row-gap: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    @include adaptive-value('font-size', 16, 14, 0);
    color: var(--color-dark-03);
    margin-bottom: 0;
  }

  &Price,
  &Total {
    display: flex;
    align-items: center;
  }

  &Price {
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    @include adaptive-value('font-size', 18, 14, 0);
    line-height: 120%;
  }

  &Title {
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    @include adaptive-value('font-size', 22, 18, 0);
    margin-bottom: 5px;
  }

  &Img {
    width: 80px;
    height: 80px;
    border-radius: 2px;
    display: none;
  }

  &Remove {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
}
