@import 'src/styles/responsive';

.parent {
  width: inherit;
  border-radius: 6px;
  overflow: hidden;
  @include adaptive-value('height', 40, 30, 0, true);
  border: 1px solid var(--color-light-04);
  background-color: var(--color-light-01);
}

.label {
  font-style: normal;
  font-weight: 500;
  line-height: 154%;
  color: var(--color-dark-06);
  margin-bottom: 0;
  padding: 0 0 4px 0;
  @include adaptive-value('font-size', 13, 10, 0);
}
