@import 'src/styles/responsive';

.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  width: 300px;
  overflow: hidden;
  min-height: 200px;
  border: 1px solid var(--color-light-03);
  position: relative;

  &Content {
    padding: 0 10px 0 10px;
  }

  &Title {
    width: 100%;
    font-weight: 700;
    text-align: center;
    object-fit: contain;
    padding: 25px 0 0 0;
  }

  &Image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;

    transition: 0.8s;
    &:hover {
      transform: scale(1.1);
      transition: 0.8s;
    }
  }

  &Description {
    height: 67px;
    font-weight: 500;
    padding: 5px 0 0 0;
    overflow: hidden;
    margin-bottom: 0;
    text-overflow: ellipsis;
  }

  &Button {
    width: 100%;
  }

  &Stock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    color: var(--color-success);
  }

  &Btns {
    width: 100%;
    display: flex;
    column-gap: 10px;
    align-content: center;
  }

  &Price {
    font-weight: 700;
    color: var(--color-primary-100);
    @include adaptive-value('font-size', 24, 16, 0);
    white-space: nowrap;
  }
}
