@import 'responsive';

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 120%;
  column-gap: 5px;
  text-transform: capitalize;
  color: var(--color-dark-05);
  @include adaptive-value('font-size', 14, 12, 0);
  background-color: var(--color-light-02);
  @include adaptive-value('padding-top', 10, 5, 0);
  @include adaptive-value('padding-bottom', 10, 5, 0);
  @include adaptive-value('padding-left', 14, 8, 0);
  @include adaptive-value('padding-right', 14, 8, 0);
  @include adaptive-value('border-radius', 20, 15, 0);
}

.message {
  font-style: normal;
  font-weight: 600;
  @include adaptive-value('font-size', 18, 14, 0);
  line-height: 140%;
}

.activeCategory {
  color: var(--color-white);
  background-color: var(--color-primary-100);
}

.parent {
  display: flex;
}

.content {
  width: 100vw;
}

.ant-select-selector {
  display: flex;
  align-items: center;
  height: inherit !important;
  border: none !important;
}

.ant-select {
  width: 100%;
}

.ant-select-selection-search-input,
.ant-input-affix-wrapper {
  border: none !important;
  outline: none !important;
  width: 100% !important;
  height: 100% !important;
}

.ant-select-selection-placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  @include adaptive-value('font-size', 14, 13, 0);
  color: var(--color-light-06);
}

.slick-dots .slick-dots-bottom {
  position: absolute !important;
}

.ant-carousel .slick-dots li button {
  background: var(--color-primary-100) !important;
}

.ant-carousel .slick-dots-bottom {
  position: absolute !important;
  bottom: -10px !important;
}

.ant-input-number {
  outline: none !important;
  border: 1px solid #d1d1d6 !important;
  border-radius: 6px !important;
}

.new-product-input-number .ant-input-number {
  @include adaptive-value('height', 40, 30, 0, true);
  outline: none !important;
  border: 1px solid #d1d1d6 !important;
  border-radius: 6px 0 0 6px !important;
}

.ant-input-number-focused {
  outline: none !important;
  box-shadow: none !important;
}

.ant-input-number-handler-wrap {
  border-radius: 6px !important;
}

.total-input-number {
  @include device(smallOnly) {
    width: 70px !important;
  }

  @include device(extraSmall) {
    width: 50px !important;
  }
}

#price {
  @include adaptive-value('height', 40, 25, 0, true);
}

input {
  width: 100%;
  height: 100%;
  &::placeholder {
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    @include adaptive-value('font-size', 14, 13, 0);
    color: var(--color-light-06);
  }
}

.ant-input-number-group-addon {
  border-radius: 0 6px 6px 0 !important;
}

.ql-toolbar.ql-snow {
  border-radius: 6px 6px 0 0 !important;
}

.ql-container.ql-snow {
  border-radius: 0 0 6px 6px;
}

.ant-tabs-ink-bar {
  background: var(--color-primary-100) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--color-primary-100) !important;
}

li {
  list-style-position: inside;
}

.ant-empty-description {
  visibility: hidden;
}

.ant-table-wrapper {
  width: 100%;
}