@import "responsive";

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.parent {
  display: flex;
}

.content {
  width: 100vw;
}

.ant-select-selector {
  display: flex;
  align-items: center;
  height: inherit !important;
  border: none !important;
}

.ant-select {
  width: 100%;
}

.ant-select-selection-search-input, .ant-input-affix-wrapper {
  border: none !important;
  outline: none !important;
  width: 100% !important;
  height: 100% !important;
}

.ant-select-selection-placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  @include adaptive-value('font-size', 14, 10, 0);
  color: var(--color-light-06);
}
