@import 'src/styles/responsive';

.parent {
  max-width: 1920px;
  margin: 0 auto;
  @include adaptive-value('padding', 40, 20, 0);

  &Title {
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    @include adaptive-value('font-size', 32, 20, 0);
    color: var(--color-dark-05);
    margin-bottom: 0;
  }

  &Head {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  &Form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
  }

  &Label {
    font-style: normal;
    font-weight: 500;
    line-height: 154%;
    color: var(--color-dark-06);
    margin-bottom: 0;
    padding: 0 0 4px 0;
    @include adaptive-value('font-size', 13, 12, 0);
  }

  &Field {
    display: flex;
    flex-direction: column;
  }

  &ErrorMessage {
    color: var(--color-warning);
    font-size: 12px;
    margin-bottom: 0;
  }

  &Submit {
    margin: 20px 0 0 0;
    width: 100%;
  }
}
