@import 'src/styles/responsive';

.parent {
  max-width: 1020px;
  @include adaptive-value('padding', 40, 20, 0);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  &Title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    @include adaptive-value('font-size', 32, 20, 0);
    line-height: 130%;
  }

  &Carousel {
    @include adaptive-value('width', 400, 200, 0);
  }

  &Price {
    font-style: normal;
    font-weight: 700;
    @include adaptive-value('font-size', 30, 20, 0);
    line-height: 120%;
    color: var(--color-primary-100);
    margin-bottom: 0;
  }

  &Image {
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    @include adaptive-value('width', 400, 200, 0);
    @include adaptive-value('height', 300, 150, 0);
  }

  &Category {
    margin-bottom: 5px;
    font-weight: 600;
  }

  &Type {
    font-size: 14px;
    color: var(--color-dark-03);
  }

  &Info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    position: relative;
  }

  &Btns {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &Photo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &Details {
    width: min-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
  }

  &Description {
    @include adaptive-value('padding-top', 70, 30, 0);
  }
}
